.hero {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(245.59deg, #EAE8FF 0%, #ADACB5 25%, #2D3142 75%); /* Fondo de color gradiente */
    position: relative; /*Para que sea relativo al contenedor (nos permite usar top, bottom, left y right) */
    display: grid; /*Para que el hero se pueda dividir en 2 columnas */
    grid-template-columns: 1fr 1fr; /* Las 2 columnas */
    align-items: center; /*Para alinear verticalmente el hero */
    gap: 2rem; /* Haya espacio de 2 rem entre las 2 columnas */
}

.section {
    padding:0 8%;
}

.hero-text h5 {
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 30px;
}

.hero-text h1{
    font-family: "Roboto Mono", monospace;
    font-size: 50px;
    line-height: 1;
    margin: 0 0 30px;
}

.hero-text h4 {
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 10px;
}

.hero p {
    font-size: 115%;
    margin-bottom: 40px;
    line-height: 1.9;
}

.hero-text a {
    display: inline-block;
    background-color: #4d4d4d;
    border: 1px solid transparent;
    padding: 15px 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all .5s ease;

}

.hero-text a:hover {
    background-color: transparent;
    border: 1px solid white;
    transform: translateX(8px);
}

.hero-text a.proyectos {
    background-color: transparent;
    border: 1px solid white;
    margin-left: 20px;
}

.hero-text a.proyectos i {
    vertical-align: middle;
    margin-right: 5px;
}


.content {
    font-size:36px;
    line-height:40px;
    font-family:'Muli';
    color:#ecf0f1;
    height:40px;
    position:absolute;
    /* &:before { */
      /* content:'['; */
      /* position:absolute; */
      /* line-height:40px; */
    /* } */
    /* &:after { */
      /* content:']'; */
      /* position:absolute; */
      /* line-height:40px; */
    /* } */
    /* &:after, &:before {
      color:#16a085;
      font-size:42px;
      animation:2s linear 0s normal none infinite opacity;
      -webkit-animation:2s ease-out 0s normal none infinite opacity;
      -moz-animation:2s ease-out 0s normal none infinite opacity;
      -o-animation:2s ease-out 0s normal none infinite opacity;
    } */
  }
.visible {
    float:left;
    font-weight:600;
    overflow:hidden;
    height:40px;   
  }
  
  .techs {
    font-size: 27px;
    margin-top:-7px;
    padding-left:5px;
    text-align:center;
    list-style:none;
    animation:8s linear 0s normal none infinite change;
    -webkit-animation:8s linear 0s normal none infinite change;
    -moz-animation:8s linear 0s normal none infinite change;
    -o-animation:8s linear 0s normal none infinite change;
  }
  

  
  @-webkit-keyframes opacity {
    0%   {opacity:0;}
    50%  {opacity:1;}
    100% {opacity:0;}
  }
  @keyframes opacity {
    0%   {opacity:0;}
    50%  {opacity:1;}
    100% {opacity:0;}
  }
  
  @-webkit-keyframes change {
    0%   {margin-top:-7px;}
    8.33%  {margin-top:-7px;}
    16.66% {margin-top:-47px;}
    25%  {margin-top:-47px;}
    33.33%  {margin-top:-87px;}
    41.66%   {margin-top:-87px;}
    50%  {margin-top:-127px;}
    58.33%  {margin-top:-127px;} 
    66.66%  {margin-top: -87px;}
    75%  {margin-top: -87px;}
    83.33%  {margin-top: -47px;}
    91.66%  {margin-top: -47px;}
    100% {margin-top:-7px;}
  }
  @keyframes change {
    0%   {margin-top:-7px;}
    8.33%  {margin-top:-7px;}
    16.66% {margin-top:-47px;}
    25%  {margin-top:-47px;}
    33.33%  {margin-top:-87px;}
    41.66%   {margin-top:-87px;}
    50%  {margin-top:-127px;}
    58.33%  {margin-top:-127px;} 
    66.66%  {margin-top: -87px;}
    75%  {margin-top: -87px;}
    83.33%  {margin-top: -47px;}
    91.66%  {margin-top: -47px;}
    100% {margin-top:-7px;}
  }

@media (max-width: 992px) {
  .section {
    padding: 0 3%;
    transition: .2s;
  }

  .hero-text {
    padding: 0 10%;
    margin-left: 5%;
  }

  .hero-img {
    text-align: center;
  }

  .hero-text p {
    font-size: 70%;
  }

  
}

@media (max-width: 768px) {
  .hero-text {
    text-align: center;
    padding-top: 100px;
  }

  .hero-text h4{
    display: block;
    margin-left: -20%;
  }

  .hero-img {
    margin: 0;
  }

  .hero {
    height: 100%;
    gap: 1rem;
    grid-template-columns: 1fr;
  }

}