.hero-img {
    width: 600px;
    margin: 5% 0 0 5%;
    height: auto;
    transition: all 5s linear;/* Esto hace que la transicion sea lineal */
}

.hero-img:hover {
    width: 700px;
    opacity: 0.8;
}

@media (max-width:992px){
    .hero-img {
        width: 80%;
        margin: 10% 0 0 10%;
    }


}

@media (max-width: 768px){
    .hero-img{
        margin: 0;
    }
}